* {
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #00022d;
  color: #fff;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  background-color: transparent;
  color: #fff;
  width: 180px;
  line-height: 60px;
  text-align: center;
  font-size: 18px;
  border-radius: 50px;
  transition: all ease 0.5s;
}

a.btn:hover {
  background-color: #fff;
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 65%;
  width: 40%;
  background-color: rgba(255,255,255,0.1);
  border-radius: 50px;
}

.textbox {
  width: 90%;
}

input {
  border: none;
  outline: none;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  padding: 10px 0;
  margin: 8px 0;
  border-bottom: 1px solid #787878;
  background-color: transparent;
}

input:focus {
  border-bottom: 1px solid #fff;
  transition: all ease 0.8s;
}

button {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

button:before {
  content: "";
  position: absolute;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #f09053;
  z-index: -1;
  transition: all ease 0.5s;
}

button:hover:before {
  width: 100%;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 0;
  z-index: -1;
}

.wave > img {
  width: 100vw;
}